<div class="row">
  @if (isLoader) {
  <div class="d-flex justify-content-center px-2">
    <div class="spinner-border" role="status"></div>
    <p class="sr-only">Loading...</p>
  </div>
  } @else { @for (item of designationList; track $index) {
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ item.designation }}</h4>
        <a href="#" class="card-link">Edit</a>
        <a href="#" class="card-link">Delete</a>
      </div>
    </div>
  </div>
  } }
</div>
